<div *ngIf="show; then comp else nothing"></div>

<ng-template #comp>
    <button (click)="navToDataBinding()">Navigate to Databinding</button>
    <p>{{hello}}</p>
    <ul>
        <li *ngFor="let color of colors; let o = odd; let e = even; let l = last" 
        [style.color]="color" [ngClass]="{par: e && !l, impar: o && !l, ultimo: l}"
        [ngSwitch]="color">
            <span *ngSwitchCase="'blue'">I am blue</span>
            <span *ngSwitchDefault>{{color | decorator:'**' | uppercase}}</span>
        </li>
    </ul>
</ng-template>

<ng-template #nothing> 
    <p>Nothing</p>
</ng-template>

